*.swp
ovhrc
.terraform*
*tfstate*
networking/private-networks-multi-region/bastion/*_ssh_config
networking/private-networks-multi-region/keypair/*_rsa
networking/private-networks-multi-region/keypair/*_rsa.pub
examples/01/myMainKeypair_rsa
.gitignore
examples/01/myMainKeypair_rsa.pub
examples/02/apps/hosts
examples/02/myMainKeypair_rsa
examples/02/myMainKeypair_rsa.pub
basics/utils/vars.csv

containers-orchestration/managed-kubernetes/create-cluster-with-tf/my_kube_cluster.yml
containers-orchestration/managed-private-registry/create-registry-with-pulumi/ovhcloud-registry-go/Pulumi.dev.yaml
.quarkus/
containers-orchestration/managed-kubernetes/create-cluster-with-cdktf-and-go/kubeconfig.yaml
containers-orchestration/managed-kubernetes/create-cluster-with-cdktf-and-go/generated
containers-orchestration/managed-kubernetes/create-cluster-with-cdktf-and-go/cdktf.out
.vscode/settings.json

# Python 
venv/
